<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.rishi.diagnostic" version="1.0.0">
    <name>Rishi Diagnostic</name>
    <description>Mobile diagnostic test for blank screen troubleshooting</description>
    <author email="developer@rishiplatform.com">Rishi Platform</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="33" />
    
    <platform name="android">
        <preference name="Scheme" value="https" />
    </platform>
</widget>
