<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rishi.platform.production" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rishi Platform</name>
    <description>Professional workforce management platform</description>
    <author email="support@rishiplatform.com" href="https://rishiplatform.com">
        Rishi Platform Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="android/app/src/main/res/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="android/app/src/main/res/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="android/app/src/main/res/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="android/app/src/main/res/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="android/app/src/main/res/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="android/app/src/main/res/drawable-xxxhdpi/icon.png" />
        <splash density="land-ldpi" src="android/app/src/main/res/drawable-land-ldpi/splash.png" />
        <splash density="land-mdpi" src="android/app/src/main/res/drawable-land-mdpi/splash.png" />
        <splash density="land-hdpi" src="android/app/src/main/res/drawable-land-hdpi/splash.png" />
        <splash density="land-xhdpi" src="android/app/src/main/res/drawable-land-xhdpi/splash.png" />
        <splash density="land-xxhdpi" src="android/app/src/main/res/drawable-land-xxhdpi/splash.png" />
        <splash density="land-xxxhdpi" src="android/app/src/main/res/drawable-land-xxxhdpi/splash.png" />
        <splash density="port-ldpi" src="android/app/src/main/res/drawable-port-ldpi/splash.png" />
        <splash density="port-mdpi" src="android/app/src/main/res/drawable-port-mdpi/splash.png" />
        <splash density="port-hdpi" src="android/app/src/main/res/drawable-port-hdpi/splash.png" />
        <splash density="port-xhdpi" src="android/app/src/main/res/drawable-port-xhdpi/splash.png" />
        <splash density="port-xxhdpi" src="android/app/src/main/res/drawable-port-xxhdpi/splash.png" />
        <splash density="port-xxxhdpi" src="android/app/src/main/res/drawable-port-xxxhdpi/splash.png" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>